################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VendingMachine/bin/Debug/netcoreapp2.0
/VendingMachine/obj
/VendingMachineTest/bin/Debug/netcoreapp2.0
/VendingMachineTest/obj
